.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  background: orange;
  height: auto;
  padding: 100px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.login-row {
  background: white;
  height: 600px;
  width: 600px;
  border-radius: 10px;
}

.sign-in-text {
  font-size: 10px;
}

.div-input {
  width: 100%;
}

input {
  width: 100%;
}

.recover-text {
  font-size: 10px;
  text-align: end;
}

.sign-button {
  background: orange !important;
  border: 1px solid white !important;
  width: 250px;
}

.sign-button-google {
  background: #fafafa !important;
  border: 1px solid white !important;
  width: 250px;
  color: black !important;
}

.not-reg-text {
  font-size: 12px;
}

.not-reg-text-inside {
  color: orange;
}